/* You can add global styles to this file, and also import other style files */

@use "bootstrap/scss/bootstrap";

//@use "bootstrap/dist/css/bootstrap.min.css";
//@use "bootstrap/dist/css/bootstrap.rtl.min.css";
@use "bootstrap-icons/font/bootstrap-icons";
@use '@angular/cdk/overlay-prebuilt.css';


body, html {
  height: 100%;
  margin: 0;
}

markdown {
  blockquote {
    border-left: 8px solid var(--bs-secondary-border-subtle);
    border-radius: var(--bs-border-radius);
    padding: 1em;
    background-color: rgba(var(--bs-secondary-rgb), 0.12);
    //var(--bs-tertiary-bg);
    margin-top: 1rem;
    margin-bottom: 1rem;

    & p {
      margin-bottom: 0;
    }

    /* Nested blockquotes */
    & blockquote {
      border-left-color: #999;
      padding-left: 20px; /* Additional padding */
    }
  }

  pre[class*=language-] {
    margin-bottom: 1rem;
  }

  .markdown-clipboard-button {
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    padding: 4px 0;
    width: 50px;
    transition: all 250ms ease-out;
  }

  .markdown-clipboard-button:hover {
    background-color: rgba(255, 255, 255, 0.14);
  }

  .markdown-clipboard-button:active {
    transform: scale(0.95);
  }

  .markdown-clipboard-button.copied {
    background-color: rgba(0, 255, 0, 0.1);
    color: #00ff00;
  }
}

