$vertical-spacing: 64px;
$horizontal-spacing: 32px;

:host {
}

main {
  min-height: calc(100vh - var(--cute-navbar-height));
  font-size: 1.25rem;
}

.docs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $vertical-spacing;
}

.docs-frown {
  font-size: 150px;
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin-right: $horizontal-spacing;

  @media (max-width: 720px) {
    display: none;
  }
}

a + a {
  margin-left: 16px;
}
