<app-component-viewer
  [(docItem)]="_docItem"
  [examplesTemplate]="iconExamples">
</app-component-viewer>

<ng-template #iconExamples>

  <cute-vstack gap="3">
    <cute-hstack gap="2">
      <cute-icon svgIcon="thumbs-up" color="success" aria-hidden="false" aria-label="Example thumbs up SVG icon"></cute-icon>

      <cute-icon fontSet="bi" color="primary">zoom-in</cute-icon>
      <cute-icon color="info">android2</cute-icon>
      <cute-icon color="secondary-emphasis">house-fill</cute-icon>
      <cute-icon color="danger" fontIcon="bi:check-square"></cute-icon>
    </cute-hstack>


    <cute-vstack gap="2">
      <h6>Feature Icon</h6>
      <cute-hstack gap="3">
        SVG:
        <cute-icon svgIcon="collection" color="primary-contrast" gradientFill featureIcon="small"></cute-icon>
        <cute-icon svgIcon="collection" color="primary-contrast" gradientFill featureIcon="middle"></cute-icon>
        <cute-icon svgIcon="collection" color="primary-contrast" gradientFill featureIcon="large"></cute-icon>
      </cute-hstack>
      <cute-hstack gap="3">
        Icon:
        <cute-icon class="bg-body-secondary" gradientFill featureIcon="small">people-fill</cute-icon>
        <cute-icon class="bg-body-secondary" gradientFill featureIcon="middle">people-fill</cute-icon>
        <cute-icon class="bg-body-secondary" gradientFill featureIcon="large">people-fill</cute-icon>
      </cute-hstack>
    </cute-vstack>
  </cute-vstack>

</ng-template>
