<h5>Button Examples</h5>

<cute-hstack gap="2" class="my-3">
<!--  <cute-slide-toggle [(ngModel)]="applyGradient">With gradient fill</cute-slide-toggle>-->
  <cute-slide-toggle [(ngModel)]="applyDisabled">Disabled</cute-slide-toggle>
</cute-hstack>

<cute-tab-group headerPosition="start">
  <cute-tab label="Base Buttons">
    <button cuteButton [disabled]="applyDisabled">Default</button>
    @for (color of colors; track color) {
      <button cuteButton [color]="color"
              [gradientFill]="applyGradient"
              [disabled]="applyDisabled"
              [cuteTooltip]="'Tooltip for '+color+' button'"
              cuteTooltipShowDelay="500">
        {{proper(color)}}
      </button>
    }
  </cute-tab>

  <cute-tab label="Flat Buttons">
    <button cuteButton="flat-button" [disabled]="applyDisabled">Default</button>
    @for (color of colors; track color) {
      <button cuteButton="flat-button"
              [gradientFill]="applyGradient"
              [disabled]="applyDisabled"
              [color]="color"
              [cuteTooltip]="'Tooltip for '+color+' button'"
              cuteTooltipShowDelay="500">
        {{proper(color)}}
      </button>
    }
  </cute-tab>

  <cute-tab label="Raised buttons">
    <button cuteButton="raised-button" [disabled]="applyDisabled">Default</button>
    @for (color of colors; track color) {
      <button cuteButton="raised-button"
              [gradientFill]="applyGradient"
              [disabled]="applyDisabled"
              [color]="color" [cuteTooltip]="'Tooltip for '+color+' button'"
              cuteTooltipShowDelay="500">
        {{proper(color)}}
      </button>
    }
  </cute-tab>

  <cute-tab label="Outline Buttons">
    <button cuteButton="outline-button" [disabled]="applyDisabled">Default</button>
    @for (color of colors; track color) {
      <button cuteButton="outline-button"
              [color]="color"
              [disabled]="applyDisabled"
              [gradientFill]="applyGradient"
              [cuteTooltip]="'Tooltip for '+color+' button'"
              cuteTooltipShowDelay="500">
        {{proper(color)}}
      </button>
    }
  </cute-tab>

  <cute-tab label="Icon buttons">
    <cute-hstack class="flex-wrap">
      @for (size of reversedSizes; track size) {
        <button cuteButton="icon-button" color="info" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>house-fill</cute-icon>
        </button>
      }
    </cute-hstack>
    <cute-hstack class="flex-wrap">
      @for (size of reversedSizes; track size) {
        <button cuteButton="icon-button" color="danger" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>person-fill</cute-icon>
        </button>
      }
    </cute-hstack>
    <cute-hstack class="flex-wrap">
      @for (size of reversedSizes; track size) {
        <button cuteButton="icon-button" color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>android2</cute-icon>
        </button>
      }
    </cute-hstack>

  </cute-tab>

  <cute-tab label="FAB buttons">
    <cute-hstack class="flex-wrap">
      @for (size of reversedSizes; track size) {
        <button cuteButton="fab-button" color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>house-fill</cute-icon>
        </button>
      }
    </cute-hstack>

    <cute-hstack class="flex-wrap mt-2">
      @for (size of reversedSizes; track size) {
        <button cuteButton="fab-button" color="warning" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon color="danger">person-fill</cute-icon>
        </button>
      }
    </cute-hstack>

    <cute-hstack class="flex-wrap mt-2">
      @for (size of reversedSizes; track size) {
        <button cuteButton="fab-button" color="info" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon color="primary">android2</cute-icon>
        </button>
      }
    </cute-hstack>
  </cute-tab>

  <cute-tab label="Anchor tags">
    <a cute-button color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient">Primary</a>
    <a cuteButton="raised-button" color="secondary" [disabled]="applyDisabled" [gradientFill]="applyGradient">Secondary</a>
    <a cuteButton="flat-button" color="success" [disabled]="applyDisabled" [gradientFill]="applyGradient" disabled disabledInteractive cuteTooltip="Tooltip for Success">Success</a>
    <a cuteButton="outline-button" color="danger" [disabled]="applyDisabled" [gradientFill]="applyGradient" disabled>Danger</a>
    <a cuteButton="outline-button" color="warning" [disabled]="applyDisabled" [gradientFill]="applyGradient">Warning</a>
    <a cuteButton="flat-button" color="info" [disabled]="applyDisabled" [gradientFill]="applyGradient">Info</a>
    <a cute-button color="dark" [disabled]="applyDisabled" [gradientFill]="applyGradient">Dark</a>
    <a cute-button color="light" [disabled]="applyDisabled" [gradientFill]="applyGradient">Light</a>
    <a cute-button color="link" [disabled]="applyDisabled" [gradientFill]="applyGradient">Link</a>
  </cute-tab>

  <cute-tab label="Button sizes">
    <cute-hstack gap="1" class="flex-wrap">
      @for (size of reversedSizes; track size) {
        <button cuteButton="flat-button" color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>menu-app</cute-icon>
          {{proper(size)}}
        </button>
      }
    </cute-hstack>

    <cute-hstack gap="1" class="flex-wrap mt-2">
      @for (size of reversedSizes; track size) {
        <button cuteButton="outlined" color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>android2</cute-icon>
          {{proper(size)}}
        </button>
      }
    </cute-hstack>

    <cute-hstack gap="1" class="flex-wrap mt-2">
      @for (size of reversedSizes; track size) {
        <button cuteButton="pill-button" color="warning-emphasis" [disabled]="applyDisabled" [gradientFill]="applyGradient" [magnitude]="size">
          <cute-icon>house-fill</cute-icon>
          {{proper(size)}}
        </button>
      }
    </cute-hstack>

  </cute-tab>

  <cute-tab label="Spinners">
    <cute-hstack gap="1" class="overflow-y-hidden">
      <button cuteButton="outline-button" color="primary" [disabled]="applyDisabled" [gradientFill]="applyGradient" disabled>
        <cute-progress-spinner magnitude="small"></cute-progress-spinner>
      </button>
      <button cuteButton="flat-button" color="danger" [disabled]="applyDisabled" [gradientFill]="applyGradient" disabled>
        <cute-progress-spinner growing="true" magnitude="small"></cute-progress-spinner>
        Loading...
      </button>
    </cute-hstack>
  </cute-tab>

</cute-tab-group>

