<h5>Button Examples</h5>
<cute-tab-group headerPosition="start">
  <cute-tab label="Base Buttons">
    <button cuteButton>Default</button>
    <button cuteButton color="primary">Primary</button>
    <button cuteButton color="secondary">Secondary</button>
    <button cuteButton color="success" disabled disabledInteractive cuteTooltip="Hello from success button">Disabled interactive</button>
    <button cuteButton color="danger" disabled>Danger</button>
    <button cuteButton color="warning">Warning</button>
    <button cuteButton color="info">Info</button>
    <button cuteButton color="dark">Dark</button>
    <button cuteButton color="light">Light</button>
    <button cuteButton color="link">Link</button>
  </cute-tab>

  <cute-tab label="Flat Buttons">
    <button cuteButton="flat-button">Default</button>
    <button id="btnPill-1" cuteButton="pill-button"  color="primary">Primary</button>
    <button cuteButton="flat-button" color="secondary" cuteTooltip="My tooltip text">Secondary</button>
    <button cuteButton="flat-button" color="success" cuteTooltip="SAV tooltip" disabled disabledInteractive>SAV</button>
    <button cuteButton="flat-button" color="danger" disabled>Danger</button>
    <button cuteButton="flat-button" color="warning">Warning</button>
    <button cuteButton="flat-button" color="info">Info</button>
    <button cuteButton="flat-button" color="dark">Dark</button>
    <button cuteButton="flat-button" color="light">Light</button>
    <button cuteButton="flat-button" color="link">Link</button>
    <button cuteButton="close-button" id="btnClose" color="danger"></button>

  </cute-tab>

  <cute-tab label="Raised buttons">
    <button cuteButton="raised-button">Default</button>
    <button cuteButton="raised-button" color="primary">
      <cute-icon color="warning" fontIcon="calculator" ></cute-icon>
      Primary
      <cute-icon color="danger-emphasis" iconPositionEnd>house-fill</cute-icon>
    </button>
    <button cuteButton="raised-button" color="secondary">Raised button very very long</button>
    <button cuteButton="raised-button" color="success" disabled disabledInteractive cuteTooltip="Tooltip for Success">Success</button>
    <button cuteButton="raised-button" color="danger">Danger</button>
    <button cuteButton="raised-button" color="warning">Warning</button>
    <button cuteButton="raised-button" color="info">Info</button>
    <button cuteButton="raised-button" color="dark">Dark</button>
    <button cuteButton="raised-button" color="light">Light</button>
    <button cuteButton="raised-button" color="link">Link</button>
  </cute-tab>

  <cute-tab label="Outline Buttons">
    <button cuteButton="outline-button">Default</button>
    <button cuteButton="outline-button" color="primary">Primary</button>
    <button cuteButton="outline-button" color="secondary">Secondary button very very long</button>
    <button cuteButton="outline-button" color="success" disabled disabledInteractive cuteTooltip="Tooltip for Success">Success</button>
    <button cuteButton="outline-button"  color="danger" disabled>Danger</button>
    <button cuteButton="outline-button"  color="warning">Warning</button>
    <button cuteButton="outline-button" color="info">Info</button>
    <button cuteButton="outline-button" color="dark">Dark</button>
    <button cuteButton="outline-button" color="light">Light</button>
    <button cuteButton="outline-button" color="link">Link</button>
  </cute-tab>

  <cute-tab label="Icon buttons">
    <cute-hstack gap="2">
      <button cuteButton="icon-button" color="info" magnitude="larger">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="icon-button" color="info" magnitude="large">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="icon-button" color="info" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="icon-button" color="info" magnitude="small">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="icon-button" color="info" magnitude="smaller">
        <cute-icon>house-fill</cute-icon>
      </button>
    </cute-hstack>
    <cute-hstack gap="2">
      <button cuteButton="icon-button" color="danger" magnitude="larger">
        <cute-icon fontIcon="person-fill"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="danger" magnitude="large">
        <cute-icon fontIcon="person-fill"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="danger" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon fontIcon="person-fill"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="danger" magnitude="small">
        <cute-icon fontIcon="person-fill"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="danger" magnitude="smaller">
        <cute-icon fontIcon="person-fill"></cute-icon>
      </button>
    </cute-hstack>
    <cute-hstack gap="2">
      <button cuteButton="icon-button" color="primary" magnitude="larger">
        <cute-icon fontIcon="bi-android2"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="primary" magnitude="large">
        <cute-icon fontIcon="bi-android2"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="primary" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon fontIcon="bi-android2"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="primary" magnitude="small">
        <cute-icon fontIcon="bi-android2"></cute-icon>
      </button>
      <button cuteButton="icon-button" color="primary" magnitude="smaller">
        <cute-icon fontIcon="bi-android2"></cute-icon>
      </button>
    </cute-hstack>

  </cute-tab>

  <cute-tab label="FAB buttons">
    <cute-hstack gap="2">
      <button cuteButton="fab-button" color="primary" magnitude="larger">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="fab-button" color="primary" magnitude="large">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="fab-button" color="primary" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="fab-button" color="primary" magnitude="small">
        <cute-icon>house-fill</cute-icon>
      </button>
      <button cuteButton="fab-button" color="primary" magnitude="smaller">
        <cute-icon>house-fill</cute-icon>
      </button>
    </cute-hstack>
    <cute-hstack gap="2">
      <button cuteButton="fab-button" color="warning" magnitude="larger">
        <cute-icon fontIcon="person-fill" color="danger"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="warning" magnitude="large">
        <cute-icon fontIcon="person-fill" color="danger"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="warning" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon fontIcon="person-fill" color="danger"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="warning" magnitude="small">
        <cute-icon fontIcon="person-fill" color="danger"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="warning" magnitude="smaller">
        <cute-icon fontIcon="person-fill" color="danger"></cute-icon>
      </button>
    </cute-hstack>
    <cute-hstack gap="2">
      <button cuteButton="fab-button" color="info" magnitude="larger">
        <cute-icon fontSet="bi" fontIcon="bi-android2" color="primary"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="info" magnitude="large">
        <cute-icon fontSet="bi" fontIcon="bi-android2" color="primary"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="info" disabled disabledInteractive cuteTooltip="Disabled button">
        <cute-icon fontSet="bi" fontIcon="bi-android2" color="primary"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="info" magnitude="small">
        <cute-icon fontSet="bi" fontIcon="bi-android2" color="primary"></cute-icon>
      </button>
      <button cuteButton="fab-button" color="info" magnitude="smaller">
        <cute-icon fontSet="bi" fontIcon="bi-android2" color="primary"></cute-icon>
      </button>
    </cute-hstack>

  </cute-tab>

  <cute-tab label="Anchor tags">
    <a cute-button color="primary">Primary</a>
    <a cuteButton="raised-button"  color="secondary">Secondary button very very long</a>
    <a cuteButton="flat-button" color="success" disabled disabledInteractive cuteTooltip="Tooltip for Success">Success</a>
    <a cuteButton="outline-button"  color="danger" disabled>Danger</a>
    <a cuteButton="outline-button"  color="warning">Warning</a>
    <a cuteButton="flat-button"  color="info">Info</a>
    <a cute-button color="dark">Dark</a>
    <a cute-button color="light">Light</a>
    <a cute-button color="link">Link</a>
  </cute-tab>

  <cute-tab label="Button sizes">
    <cute-stack direction="row" gap="2">
      <button cuteButton="flat-button" color="primary" magnitude="larger">
        <cute-icon>menu-app</cute-icon>
        Larger
      </button>
      <button cuteButton="flat-button" color="primary" magnitude="large">
        <cute-icon>menu-app</cute-icon>
        Large
      </button>
      <button cuteButton="flat-button" color="primary">
        <cute-icon>menu-app</cute-icon>
        Default
      </button>
      <button cuteButton="flat-button" color="primary" magnitude="small">
        <cute-icon>menu-app</cute-icon>
        Small
      </button>
      <button cuteButton="flat-button" color="primary" magnitude="smaller">
        <cute-icon>menu-app</cute-icon>
        Smaller
      </button>
    </cute-stack>
    <cute-stack direction="row" gap="2">
      <button cuteButton="outlined" color="primary" magnitude="larger">
        <cute-icon fontSet="bi" fontIcon="bi-android2"></cute-icon>
        Larger
      </button>
      <button cuteButton="outlined" color="primary" magnitude="large">
        <cute-icon fontSet="bi" fontIcon="bi-android2"></cute-icon>
        Large
      </button>
      <button cuteButton="outlined" color="primary">
        <cute-icon fontSet="bi" fontIcon="bi-android2"></cute-icon>
        Default
      </button>
      <button cuteButton="outlined" color="primary" magnitude="small">
        <cute-icon fontSet="bi" fontIcon="bi-android2"></cute-icon>
        Small
      </button>
      <button cuteButton="outlined" color="primary" magnitude="smaller">
        <cute-icon fontSet="bi" fontIcon="bi-android2"></cute-icon>
        Smaller
      </button>
    </cute-stack>
  </cute-tab>

  <cute-tab label="Spinners">
    <cute-hstack gap="3" class="overflow-y-hidden">
      <button cuteButton="outline-button" color="primary" disabled>
        <cute-progress-spinner magnitude="small"></cute-progress-spinner>
      </button>
      <button cuteButton="flat-button" color="danger" disabled>
        <cute-progress-spinner growing="true" magnitude="small"></cute-progress-spinner>
        Loading...
      </button>
    </cute-hstack>
  </cute-tab>

</cute-tab-group>

