<h5 componentHeader>Progress Spinner</h5>

<cute-vstack gap="2">
  <h6>Border spinner</h6>
  <cute-hstack gap="3">
    <cute-progress-spinner color="success" magnitude="small"></cute-progress-spinner>
    <cute-progress-spinner color="primary"></cute-progress-spinner>
    <cute-progress-spinner color="danger" magnitude="large"></cute-progress-spinner>
  </cute-hstack>
  <h6>Growing spinner</h6>
  <cute-hstack gap="3">
    <cute-progress-spinner growing="true" color="success-emphasis" magnitude="small"></cute-progress-spinner>
    <cute-progress-spinner growing="true" color="warning-emphasis"></cute-progress-spinner>
    <cute-progress-spinner growing="true" color="danger-emphasis" magnitude="large"></cute-progress-spinner>
  </cute-hstack>
</cute-vstack>

